
<script>


function displayImages(data,filename){           
                let galleri=document.querySelector(".grid-container");
                
                galleri.innerHTML=data
                    .filter((data)=>{
                        return data.filename===filename && data.hidden!==true
                    })
                    .map((item)=>{
                        let subtext="";
                        if(item.title) subtext+=`<p>${item.title} </p>`
                        if(item.year) subtext+=`<p>${item.year} </p>`
                        /* if(item.dimensions) subtext+=`<p>${item.dimensions} </p>` */
                        if(item.medium) subtext+=`<p>${item.medium} </p>`                
                        /* if(item.price) subtext+=`<p><b>${item.price}</b> </p>` */
                        /* if(item.sold===true) subtext+=`<p><b>SOLGT</b> </p>` */
                        /*  
                        return  `                
                        <img class="billede" id="billede" style="pointer-events:unset;"  src="/workshop-example/gallery/${item.filename.replace(".jpeg","")}-900.jpeg" alt="">
                        <div>
                            ${subtext}
                        </div>
                        `   
                        */
                        return  `                
                        <img class="billede" id="billede" style="cursor: pointer;"  src="/workshop-example/gallery/${item.filename}" alt="">
                        <div>
                            ${subtext}
                        </div>
                        `  
                    }).join("\n");            
        }


let item=myJson[Math.floor(Math.random() * myJson.length)];
displayImages(myJson,item.filename);

    
</script>