
<script>




        function displayImages(data,filename){           
                let galleri=document.querySelector(".grid-container");
                
                galleri.innerHTML=data
                    .filter((data)=>{
                        return data.filename===filename && data.hidden!==true
                    })
                    .map((item)=>{
                        let subtext="";
                        if(item.title) subtext+=`<p>${item.title} </p>`
                        if(item.year) subtext+=`<p>${item.year} </p>`
                        if(item.dimensions) subtext+=`<p>${item.dimensions} </p>`
                        if(item.medium) subtext+=`<p>${item.medium} </p>`
                        if(item.location) subtext+=`<p>${item.location} </p>`                           
                        if(item.price) subtext+=`<p><b>${item.price}</b> </p>`
                       /*  if(item.sold===true) subtext+=`<p><b>SOLGT</b> </p>` */
                        /*  
                        return  `                
                        <img class="billede" id="billede" style="pointer-events:unset;"  src="/test3/gallery/${item.filename.replace(".jpeg","")}-900.jpeg" alt="">
                        <div>
                            ${subtext}
                        </div>
                        `   
                        */
                        return  `                
                        <img class="billede" id="billede" style="cursor: pointer;"  src="/test3e/gallery/${item.filename}" alt="">
                        <div>
                            ${subtext}
                        </div>
                        `  
                    }).join("\n");            
        }

    const params = new URLSearchParams(window.location.hash.substr(1));
    const filename=params.get("id");
    displayImages(myJson,filename);

    
    //
    let lastPageUrl = document.referrer
    if(lastPageUrl){
        let lasturl=new URL(lastPageUrl);
        
        if(lasturl.pathname=="/test3/gallery.html"){

            document.querySelector(".grid-container").addEventListener("click",()=>
            { 
               /*  window.history.back(); */
               window.history.go(-1);//Forsøg at få browser til at gå tilbage på samme scroll position
            });           
        }
        else {            
            document.querySelector(".grid-container").addEventListener("click",()=>
            { 
                window.location.pathname = ('/test2/gallery.html')
            });
        }

    }
    else 
    {
        document.querySelector(".grid-container").addEventListener("click",()=>
        { 
             window.location.pathname = ('/galleri.html')
        });
    }
</script>
