<script>
    // When the user scrolls down from the top of the document, show the button
    window.onscroll = function () {
        if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
            document.getElementById("scroll-to-top").style.display = "flex";
        } else {
            document.getElementById("scroll-to-top").style.display = "none";
        }
    }
    // scroll to top function
    function scrollToTop() {       
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }
</script>
<div  id="scroll-to-top" onclick="scrollToTop();" title="Back to Top" aria-label="Back to Top">
    <img src="{{'/assets/icons/chevron-double-up.svg' | relative_url }}"  alt="back to top">
</div>

