


footer div {
  margin:0;
  padding: 0; 
 box-sizing: border-box;
}

body {
    margin: 0;
    font-family:var(--font-family);


    color:var(--font-color);
    background-color:var(--background-color);

    /*How to stick footer to bottom of page if not enough content*/
    display: flex;
    flex-direction:column;


    height:100vh;
    height:var(--doc-height);

    overflow-y: scroll;/* Ensure that the scroll bar does not affect the width of the page */
}

main {
  width:90vw;
  margin:5% auto;     

  /*How to stick footer to bottom of page if not enough content*/
  flex:1;
}

img {
   max-width: 100%;
}