/* add your scss tweaks here */




/* :root { */
  /* Her kan farver ændres */
/*   --background-color:rgb(213,209,202) ; */
/*   --background-color-header:rgb(168,178,179) ; */

    /* Farve på tekst */
/*   --font-color:Black;
  --font-color-menu: rgb(91, 90, 90); 
  --font-color-menuactive: black ;
  --font-color-menuhover:#0d6efd ;    
  --font-color-mailaddress: #0d6efd; */

  /* Farve på kunstnernavnet */
/*   --font-color-menufirst: black ; */
/* } */


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}





body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--font-color);
    background-color:var(--background-color);

    /*How to stick footer to bottom of page if not enough content*/
    display: flex;
    flex-direction:column;


    height:100vh;
    height:var(--doc-height);
  }

main {
  width:90vw;
  margin:5% auto;     

  /*How to stick footer to bottom of page if not enough content*/
  flex:1;
}


