

/* #mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  padding: 5px;
  width:300px
} */
#mydiv {
  position: absolute;
  width: 250px;
  height:350px;
  background-color: #ccc ;
  touch-action: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;   
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}
#mydiv>div{
  box-sizing: border-box;
  padding:5px;
  height:92%;
  width: 100%;
  cursor: default;      
  background-color: blanchedalmond;
  border-radius:0px 0px 8px 8px;
  border-top: solid 1px black;

  
}
#mydiv:active {
  background-color: #aaa;
}
#mydiv:hover {
  cursor: move;
}

.inputcolorcontainer {
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 2px;
    border-radius:3px;
 } 
 .inputcolorcontainer:hover {
  background-color: #cccccc;  
 }



 #mydiv>div label { 
    color:#666666;
    cursor: pointer;
}
#mydiv>div label:hover{
  color:#000000;
}

input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


input[type=color]::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

input[type=color]::-moz-color-swatch {
  border-radius: 10px;
  border: none;
}

