
  header {
    padding-top: 4%;
   /*  padding-bottom: 20px; */
    background-color: var(--background-color-header);
     border-bottom:solid 1px black; 
  }
  .navbar{
    width: 90vw; 
    margin:0 auto; 
    min-height: 5vh;
    border-bottom: solid 0px var(--font-color-menu);
    align-items: center; 
  }
  .navbar  .menu {
    overflow: hidden;
    background-color:var(--background-color-header);
    display: flex;
   /*  justify-content:flex-start; */

   flex-wrap: wrap;
   padding-bottom: 20px;
  }
  


  .navbar .menu a {
    
    /* display: block; */
    color:var(--font-color-menu);   
    text-decoration: none;
    text-transform: uppercase;   
    margin-right: 8px;;
  }  

  .navbar .menu a:hover {
    background-color:none; 
    color: var(--font-color-menuhover);
  }   
  
  .navbar .menu a.active {
    color: var(--font-color-menuactive);  
  }

  .navbar .menu a:nth-child(1)  { 
    color:var(--font-color-menufirst);    
    font-size: 40px;    
    width: 100%;        
  } 

  
  .navbar .menu .iconHamburger {
   display: none;
  }


  .navbar .menu .iconHamburger>div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0; 
  }

  @media screen and (max-width: 500px) {
    .navbar .menu a:not(:first-child)  {
      display: none;
    }
    
    .navbar .menu {
      position: relative;
    }
    .navbar .menu a.iconHamburger {
      position: absolute;
      right: 0;
      top: 0; 
      display: block;        
    }

    .navbar .menu.responsive  {
      display: flex; 
      flex-direction:column;   
      align-items: flex-start;
      padding-bottom: 8px;      
    }

    .navbar .menu.responsive a {
      display: block;   
      
      padding-bottom: 6px;      
    }

    .navbar .menu.responsive a:nth-child(1) {
     /*  padding-bottom: 8px;  */
    }

  }