---
# front matter
---
@charset "utf-8";


:root {

   /*How to stick footer to bottom of page if not enough content*/
  --doc-height: 100%;


  /* get colors from config.yml */

  {% if site.colors.background-color %}
    --background-color: {{ site.colors.background-color}};
  {% else %}
    --background-color: yellow;  
  {% endif %}

  {% if site.colors.background-color-header %}
    --background-color-header: {{ site.colors.background-color-header}};
  {% else %}
    --background-color-header: pink;  
  {% endif %}


    /* Farve på tekst */
  --font-color: {{ site.colors.font-color }};
  --font-color-menu: {{ site.colors.font-color-menu }};
  --font-color-menuactive: {{ site.font-color-menuactive }};
  --font-color-menuhover: {{ site.colors.font-color-menuhover }};
  --font-color-mailaddress: {{ site.font-color-mailaddress }};

  /* Farve på kunstnernavnet */
  --font-color-menufirst: {{ site.font-color-menufirst }}; ;
}

/* Optionally tweak base body text and link color */
$text-color: #111 !default;
$link-color: #2a7ae2 !default;

/* Set contain-narrow size for page-narrow layout */
$container-narrow: 700px;

/* Optionally limit container size to make reading easier */
// $container-max: 750px;

/* 
  Colors to theme 
  set colors in _data/theme-colors.csv
*/
{% assign btns = site.data.theme-colors | where_exp: "item","item.color != nil" %} 
{% for btn in btns %}
${{ btn.color_class }}: {{ btn.color }};
{% endfor %}
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    {% for btn in btns %}
    "{{ btn.color_class }}": ${{ btn.color_class }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ),
  $theme-colors
);

// Import partials.
@import
   "template", "custom","gallery","menu"
;
