<!doctype html>
<html lang="en">
    <head>
        {% include template/head.html %}        
    </head>
    <body>
        {% include template/header.html %}

        <div draggable="true" style="border: solid 1px #111; position: fixed; top:10px;right: 10px; padding:5px;background-color: rgb(204, 210, 210);">
            <p>
                {% for setting in site.data.settings %}
                    <label for="{{setting.key}}">{{setting.key}}</label>
                    <input  type="color" id="{{setting.key}}" oninput="changeColor('{{setting.key}}')">
                    <br/>
                {% endfor %}
            </p>
        </div>


        <main id="maincontent" role="main" aria-label="Content">
            {{ content }}
        </main>

        {% if site.nofooter!=true %}
            {% if page.nofooter!=true %}
                {% include template/footer.html %} 
            {% endif %}
        {% endif %}

        {% include template/foot.html %}



        <script>
/*             function changeBackgroundColor() { 
                var userColor = document.getElementById('backgroundColor').value;
                console.log(e);
                localStorage.setItem('backgroundColor', document.body.style.backgroundColor = userColor);
            }

            if(localStorage.backgroundColor) {                
                document.getElementById('backgroundColor').value = localStorage.backgroundColor;            
                document.body.style.backgroundColor= localStorage.backgroundColor;
            } else {
                document.getElementById('backgroundColor').value="#cc00ff";
            } */

          
            function changeColor(thisid) { 
                console.log(thisid);
                const userColor = document.getElementById(thisid).value;
                document.documentElement.style.setProperty("--" + thisid, userColor);
                localStorage.setItem(thisid, userColor);
            }

            function changeColorOld(thisid,cssvarname) { 
                const userColor = document.getElementById(thisid).value;
                document.documentElement.style.setProperty(cssvarname, userColor);
                localStorage.setItem(thisid, userColor);
            }

          
            function initColor(thisid){
                if(localStorage[thisid]) {
                    const _localStoreValue=localStorage[thisid];
                    document.documentElement.style.setProperty("--" + thisid, _localStoreValue);
                    document.getElementById(thisid).value = _localStoreValue;  
                }            
            else {                    
                    const _colorfromcss=getComputedStyle(document.documentElement).getPropertyValue("--" + thisid);                    
                    localStorage.setItem(thisid, _colorfromcss.trim());
                    document.getElementById(thisid).value = _colorfromcss.trim();  
                } 
            }
            {% for setting in site.data.settings %}
                initColor("{{setting.key}}");  
            {% endfor %}



        </script>
    </body>
</html>