<!doctype html>
<html lang="en">
    <head>
        {% include template/head.html %}        
    </head>
    <body>
        {% include template/header.html %}

        <div style="border: solid 1px red;height: 300px; font-size: x-small;">
         <label for"inputBackgroundColorheader">backgroundColorheader</label>
         <input type="color" id="inputBackgroundColorheader" oninput="changeColor('backgroundColorheader','inputBackgroundColorheader','--background-color-header')">
         <label for"inputBackgroundColorfooter">backgroundColorfooter</label>
         <input type="color" id="inputBackgroundColorfooter" oninput="changeColor('backgroundColorfooter','inputBackgroundColorfooter','--background-color-footer')">
         <label for"inputBackgroundColor">backgroundColor</label>
         <input type="color" id="inputBackgroundColor" oninput="changeColor('backgroundColor','inputBackgroundColor','--background-color')">

       <!--   <input type="color" id="inputBackgroundColorfooter" oninput="changeColorfooter()"> -->
        </div>


        <main id="maincontent" role="main" aria-label="Content">
            {{ content }}
        </main>

<!--         <label for"backgroundColor">backgroundColor</label><input type="color" id="backgroundColor" oninput="changeBackgroundColor()">
         -->


        {% if site.nofooter!=true %}
            {% if page.nofooter!=true %}
                {% include template/footer.html %} 
            {% endif %}
        {% endif %}

        {% include template/foot.html %}



        <script>
/*             function changeBackgroundColor() { 
                var userColor = document.getElementById('backgroundColor').value;
                console.log(e);
                localStorage.setItem('backgroundColor', document.body.style.backgroundColor = userColor);
            }

            if(localStorage.backgroundColor) {                
                document.getElementById('backgroundColor').value = localStorage.backgroundColor;            
                document.body.style.backgroundColor= localStorage.backgroundColor;
            } else {
                document.getElementById('backgroundColor').value="#cc00ff";
            } */

          
            function changeColor(storagename,thisid,cssvarname) { 
                const userColor = document.getElementById(thisid).value;
                document.documentElement.style.setProperty(cssvarname, userColor);
                localStorage.setItem(storagename, userColor);
            }

          
            function initColor(storagename,cssvarname,thisid){
                if(localStorage[storagename]) {
                    const _localStoreColor=localStorage[storagename];
                    document.documentElement.style.setProperty(cssvarname, _localStoreColor);
                    document.getElementById(thisid).value = _localStoreColor;  
                }            
                else {
                    console.log(cssvarname);
                    const _colorfromcss=getComputedStyle(document.documentElement).getPropertyValue(cssvarname);
                    console.log("XXXX",_colorfromcss);
                    localStorage.setItem(storagename, _colorfromcss.trim());
                    document.getElementById(thisid).value = _colorfromcss.trim();  
                }
            }
            initColor("backgroundColorheader","--background-color-header","inputBackgroundColorheader");
            initColor("backgroundColorfooter","--background-color-footer","inputBackgroundColorfooter");            
            initColor("backgroundColor","--background-color","inputBackgroundColor");
            



        </script>
    </body>
</html>