<!doctype html>
<html lang="en">
    <head>
        {% include template/head.html %}  
    </head>
    <body>
        {% include template/header.html %}

        <div id="sitesetting_menu" style="border: solid 1px #111; position: absolute; color: black; ">
                        <span id="sitesetting_menu__header">Settings</span>

                        <div> 

                        {% assign colorsettings=site.data.settings | where_exp:"settings", "settings.key contains 'color'" %}
                        {% for setting in colorsettings %}
                        <div class="sitesetting_menu__item">
                            <label for="{{setting.key}}">{{setting.key}}</label>
                            <input  type="color" id="{{setting.key}}" oninput="changeColor('{{setting.key}}')">
                        </div>  
                        {% endfor %}

                        <div class="sitesetting_menu__divider"></div>

                        <div class="sitesetting_menu__item">
                          <label for="font-family">font-family</label>
                          <select name="font-family" id="font-family" onchange="changeFontFamily('font-family')">
                            <option value="Arial, sans-serif">Arial</option>
                            <option value="Verdana, sans-serif">Verdana</option>         
                            <option value="Tahoma, sans-serif">Tahoma</option>         
                            <option value="Trebuchet MS, sans-serif">Trebuchet MS</option>         
                            <option value="Times New Roman, serif">Times New Roman</option>                            
                            <option value="Georgia, serif" >Georgia</option>                            
                            <option value="Garamond, serif">Garamond</option>                            
                            <option value="Courier New, monospace">Courier New</option>
                          </select>
                        </div>

                        <div class="sitesetting_menu__item">
                          <label for="border-width-header">border-width-header</label>
                          <input style="width: 80px" type="range" value="2" min="0" max="12" oninput="changeWidth('border-width-header')" name="border-width-header" id="border-width-header">
                        </div>  
                        <div class="sitesetting_menu__item">
                          <label for="border-width-footer">border-width-footer</label>
                          <input style="width: 80px" type="range" value="2" min="0" max="12" oninput="changeWidth('border-width-footer')" name="border-width-footer" id="border-width-footer">
                        </div>  
                        <div class="sitesetting_menu__item">
                          <label for="font-size-sitename">font-size-sitename</label>
                          <input style="width: 80px" type="range" value="2" min="16" max="80" oninput="changeWidth('font-size-sitename')" name="font-size-sitename" id="font-size-sitename">
                        </div>  

                        <div class="sitesetting_menu__divider"></div>
                        <div class="sitesetting_menu__item">
                          <label for="usefooter">Use page footer</label>
                          <input type="checkbox" name="usefooter" id="usefooter">
                        </div>  
                        <div class="sitesetting_menu__item">
                          <label for="usecollapsiblemenu">Use 'hamburger' menu</label>
                          <input type="checkbox" name="usecollapsiblemenu" id="usecollapsiblemenu">
                        </div>                          

                          
                        <div class="sitesetting_menu__divider"></div>
                        <div class="sitesetting_menu__item" onclick="saveAsJson()">Save settings to settings.json</div>
                        <div class="sitesetting_menu__item" onclick="clearLocalStorage()">Reset settings</div>                        


                </div>
        </div>


        <main id="maincontent" role="main" aria-label="Content">
            {{ content }}
        </main>


        {% assign setting-nofooter = site.data.settings | where:'key','nofooter' | first  %}

        {% if setting-nofooter.value!=true %}
            {% if page.nofooter!=true %}
                {% include template/footer.html %} 
            {% endif %}
        {% endif %}

        {% include template/foot.html %}


        <script>
            //hent settings fra _data. De indsættes som const myDefaultSettings
            //herfra kan de anvedes på siden
            const myDefaultSettings = 
                [
                  {% for setting in site.data.settings %}
                    {         
                        'key': '{{ setting.key }}',
                        'value':'{{ setting.value }}'
                    },
                  {% endfor %}
                ]



             
         
            function clearLocalStorage(){
              if (confirm("Are You sure you want to reset to default settings?") == true) {
                initAllToDefault();
                location.reload();                
              }
            }

            function changeColor(thisid) { 
                //console.log(thisid);
                const userColor = document.getElementById(thisid).value;
                document.documentElement.style.setProperty("--" + thisid, userColor);
                localStorage.setItem(thisid, userColor);
            }

            function changeFontFamily(thisid){
              const selectedvalue = document.getElementById(thisid).value;
              document.documentElement.style.setProperty("--" + thisid, selectedvalue);
              localStorage.setItem(thisid, selectedvalue);
            }

            function changeWidth(thisid){
              const selectedvalue = document.getElementById(thisid).value;
              document.documentElement.style.setProperty("--" + thisid, selectedvalue + "px");
              localStorage.setItem(thisid, selectedvalue + "px");
            }

            function changeColorOld(thisid,cssvarname) { 
                const userColor = document.getElementById(thisid).value;
                document.documentElement.style.setProperty(cssvarname, userColor);
                localStorage.setItem(thisid, userColor);
            }

          
            function init(thisid){
                if(localStorage[thisid]) {
                    const _localStoreValue=localStorage[thisid];
                    document.documentElement.style.setProperty("--" + thisid, _localStoreValue);
                    if(thisid.includes("color")){
                      document.getElementById(thisid).value = _localStoreValue;
                    } 
                    else if(thisid=="font-family"){
                      let _option=document.querySelector(`[value="${_localStoreValue}"]`);
                      //console.log(_option);
                      if(_option){_option.setAttribute("selected",true)};
                    }
                    else if(thisid.includes("width") || thisid.includes("size")){
                      //console.log(document.getElementById(thisid));
                      document.getElementById(thisid).value = _localStoreValue.replace("px", "");
                    }
                }            
                else {                    
                    const _colorfromcss=getComputedStyle(document.documentElement).getPropertyValue("--" + thisid);         
                    localStorage.setItem(thisid, _colorfromcss.trim());
                    document.getElementById(thisid).value = _colorfromcss.trim();  
                } 
            }

            function initAll(){
                myDefaultSettings.map((setting)=>{
                      init(setting.key);  
                });
            }

            //Sætter alle instillinger til den værdi de har i setting.csv
            function initAllToDefault(){
                myDefaultSettings.map((setting)=>{
                  localStorage.setItem(setting.key,setting.value);                    
                });
            }

            function toCSV(inputArray, separator = ",") {
                  // console.log(inputArray);
                  let rowsAsString = inputArray.map(row => {
                    return rowsAsString.join(separator);
                  });
                  console.log(rowsAsString);
                  //return csvFormat = rowsAsString.join("\n");
            }

            function saveAsJson(){
                let neyJSON=myDefaultSettings.map((setting)=>{
                    setting.value=localStorage.getItem(setting.key);
                    return setting;

                });
                downloadJson("settings.json",neyJSON);
            } 


          function downloadJson(filename, JsonData) {
            let jsonString=JSON.stringify(JsonData,null,3);
            let fileType = 'application/json';
            let blob = new Blob([jsonString], { type: fileType });

            const element = document.createElement("a");

            element.setAttribute("href", window.URL.createObjectURL(blob));
            element.setAttribute("download", filename);
            element.style.display = "none";

            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
          }

          function downloadCsv(filename, CsvData) {
            const element = document.createElement("a");

            element.setAttribute("href", `data:text/csv;charset=utf-8,${CsvData}`);
            element.setAttribute("download", filename);
            element.style.display = "none";

            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
          }

          initAll();


        </script>


        <script>
          function setposition(){
            //set initial position
            //if(!(localStorage["posleft"] && localStorage["postop"])) ;

            dragItem.style.left=localStorage["posleft"]; 
            dragItem.style.top=localStorage["postop"];  

            //awoid moving outside the screen
            if(dragItem.getBoundingClientRect().x +dragItem.clientWidth>window.innerWidth-20){      
              let _posleft=window.innerWidth-dragItem.clientWidth-20;
              dragItem.style.left=_posleft + "px";
              localStorage.setItem("posleft", _posleft + "px");
            }
            if(dragItem.getBoundingClientRect().top +dragItem.clientHeight>window.innerHeight-20){
                let _postop=window.innerHeight-dragItem.clientHeight-20;
                dragItem.style.top=_postop + "px";
                localStorage.setItem("postop", _postop + "px");
            }
            if(dragItem.getBoundingClientRect().x<0){
              dragItem.style.left=5 + "px";
            }
            if(dragItem.getBoundingClientRect().top<0){
              dragItem.style.top=5 + "px";
            }  

        }
        </script>
        <script>     
            var dragItem = document.querySelector("#sitesetting_menu");
            var dragItemHandel = document.querySelector("#sitesetting_menu__header");           
            var container = document.querySelector("body");

            var active = false;
            var currentX;
            var currentY;
            var initialX;
            var initialY;
            var xOffset = 0;
            var yOffset = 0;


            //eventlisteners sættes til body
            container.addEventListener("touchstart", dragStart, false);
            container.addEventListener("touchend", dragEnd, false);
            container.addEventListener("touchmove", drag, false);

            container.addEventListener("mousedown", dragStart, false);
            container.addEventListener("mouseup", dragEnd, false);
            container.addEventListener("mousemove", drag, false);


            setposition();



            function dragStart(e) {
              
              if (e.type === "touchstart") {
                initialX = e.touches[0].clientX - xOffset;
                initialY = e.touches[0].clientY - yOffset;
              } else {
                initialX = e.clientX - xOffset;
                initialY = e.clientY - yOffset;
              }
              if (e.target === dragItemHandel) {
                active = true;
              }
/*               if (e.target === dragItem) {
                active = true;
              } */
            }

            function dragEnd(e) {
              initialX = currentX;
              initialY = currentY;
              localStorage.setItem("posleft",(dragItem.getBoundingClientRect().left) + "px");
              localStorage.setItem("postop", (dragItem.getBoundingClientRect().top) + "px");
              active = false;
            }

            function drag(e) {
              if (active) {
              
                e.preventDefault();
              
                if (e.type === "touchmove") {
                  currentX = e.touches[0].clientX - initialX;
                  currentY = e.touches[0].clientY - initialY;
                } else {
                  currentX = e.clientX - initialX;
                  currentY = e.clientY - initialY;
                }

                xOffset = currentX;
                yOffset = currentY;

                setTranslate(currentX, currentY, dragItem);
              }
            }

            function setTranslate(xPos, yPos, el) {
              el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
            }
          </script>



    </body>
</html>